body{
	text-align: center;
	font-family: "Arial";
}

#container{
	border: solid 2px black;
	width: 70%;
	margin: 0 auto;
}

#cabecera{
	background-color: pink;
	font-size: 110%;
}

#sub{
	padding-left: 2em;
	font-size: 90%;
}